.MessageLife {
  height: 586px;
  position: relative;
  width: 100%;
  margin-top: 19px;

  &__backgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px 35px 45px 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    &__messageInWeek {
      height: auto;
      width: auto;
      &__title {
        font-family: "SFProDisplay";
        font-size: 40px;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 40px;
      }
      &__containerContent {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        &__message {
          margin-top: 8px;
          font-family: "SFProDisplay";
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 40px;
          color: #ffffff;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 8; /* number of lines to show */
          -webkit-box-orient: vertical;
          // padding-bottom: 10px;
        }
      }
      &__author {
        position: absolute;
        right: 35px;
        bottom: 90px;
        display: flex;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        font-family: "SFProDisplay";
        color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__avatar {
          border-radius: 50%;
          margin-bottom: 15px;
          height: 70px;
          width: 70px;
        }
      }
    }
    &__inforCEO {
      margin-bottom: 60px;
      height: 64px;
      width: 100%;
      display: flex;
      align-items: center;

      &__avatar {
        height: 100%;
        width: auto;
        border-radius: 50%;
        margin-right: 32px;
      }
      &__infor {
        height: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__nameCEO {
          font-size: 18px;
          line-height: 22px;
          color: #ffffff;
          font-family: "SFProDisplay";
        }
        &__JobTiltle {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          font-family: "SFProDisplay";
          margin-top: 4px;
          color: #ffffff;
        }
      }
    }
    &__containerContent {
      display: flex;
      flex-direction: column;
      &__icon {
        width: 20px;
        height: 22px;
      }
      &__message {
        margin-top: 8px;
        font-family: "SFProDisplay";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        color: #ffffff;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
    &__button {
      cursor: pointer;
      position: absolute;
      bottom: 42px;
      height: 46px;
      width: 100px;
      font-family: "SFProDisplay";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &:hover {
        height: 49px;
        width: 103px;
        font-size: 15px;
      }
    }
  }
  &__overlay {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  &__overlay2 {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      41.22deg,
      rgba(15, 5, 0, 0.7) 38.44%,
      rgba(187, 114, 61, 0.7) 93.59%
    );
    z-index: 1;
  }
}
.Modal {
  &__titleModal {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-family: "SFProDisplay Bold";
    color: #ffffff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-right: 20px;
  }
  &__textDetailModal {
    margin: 13% 0;
    color: #fa541c;
    font-size: 17px;
  }
  &__button {
    cursor: pointer;
    background: white;
    height: 45px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SFProDisplay";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    border-radius: 7px;
    color: #fa541c;
    position: absolute;
    bottom: 10px;
    right: 30px;
    &:hover {
      border-color: #fa541c;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 12px 12px;
  }
}

@media only screen and (max-width: 1366px) {
  .MessageLife {
    &__container {
      &__messageInWeek {
        height: auto;
        width: auto;
        &__title {
          font-family: "SFProDisplay";
          font-size: 27px;
          line-height: 27px;
          color: #ffffff;
          margin-bottom: 30px;
        }
        &__containerContent {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          &__message {
            margin-top: 8px;
            font-family: "SFProDisplay";
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 40px;
            color: #ffffff;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8; /* number of lines to show */
            -webkit-box-orient: vertical;
            // padding-bottom: 10px;
          }
        }
        &__author {
          position: absolute;
          right: 35px;
          bottom: 90px;
          display: flex;
          font-weight: 600;
          font-size: 23px;
          line-height: 23px;
          font-family: "SFProDisplay";
          color: #ffffff;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__avatar {
            border-radius: 50%;
            margin-bottom: 15px;
            height: 70px;
            width: 70px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1152px) {
  .MessageLife {
    height: 512px;
    &__container {
      &__containerContent {
        &__message {
          margin-top: 8px;
          font-family: "SFProDisplay";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 45px;
          color: #ffffff;
          width: 80%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .MessageLife {
    height: 448px;
    &__container {
      &__messageInWeek {
        height: auto;
        width: auto;
        &__title {
          font-family: "SFProDisplay";
          font-size: 25px;
          line-height: 25px;
          color: #ffffff;
          margin-bottom: 30px;
        }
        &__containerContent {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          &__message {
            margin-top: 8px;
            font-family: "SFProDisplay";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8; /* number of lines to show */
            -webkit-box-orient: vertical;
            // padding-bottom: 10px;
          }
        }
        &__author {
          position: absolute;
          right: 10px;
          bottom: 25px;
          display: flex;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          font-family: "SFProDisplay";
          color: #ffffff;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__avatar {
            border-radius: 50%;
            margin-bottom: 15px;
            height: 50px;
            width: 50px;
          }
        }
      }
      &__containerContent {
        &__message {
          margin-top: 8px;
          font-family: "SFProDisplay";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 45px;
          color: #ffffff;
          width: 80%;
        }
      }
      &__button {
        bottom: 25px;
        height: 35px;
        width: 90px;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .MessageLife {
    height: 450px;
  }
}
@media only screen and (max-width: 500px) {
  .MessageLife {
    height: 436px;
    &__container {
      &__inforCEO {
        margin-bottom: 40px;
        &__infor {
          &__nameCEO {
            font-size: 16px;
          }
          &__JobTiltle {
            font-size: 14px;
          }
        }
      }
      &__containerContent {
        &__message {
          font-size: 27px;
          -webkit-line-clamp: 4; /* number of lines to show */
        }
      }
      &__button {
        height: 40px;
        width: 80px;
        &:hover {
          height: 44px;
          width: 90px;
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .MessageLife {
    height: 350px;
    &__container {
      &__messageInWeek {
        height: auto;
        width: auto;
        &__title {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 15px;
        }
        &__containerContent {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          &__message {
            font-size: 16px;
            line-height: 25px;
            -webkit-line-clamp: 8;
          }
        }
        &__author {
          position: absolute;
          right: 10px;
          bottom: 25px;
          display: flex;
          font-weight: 600;
          font-size: 15px;
          line-height: 15px;
          font-family: "SFProDisplay";
          color: #ffffff;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__avatar {
            border-radius: 50%;
            margin-bottom: 15px;
            height: 45px;
            width: 45px;
          }
        }
      }
      padding: 25px;
      &__inforCEO {
        margin-bottom: 20px;
        &__infor {
          &__nameCEO {
            font-size: 16px;
          }
          &__JobTiltle {
            font-size: 14px;
          }
        }
      }
      &__containerContent {
        &__message {
          font-size: 20px;
          line-height: 25px;
          width: 100%;
          -webkit-line-clamp: 4;
        }
      }
      &__button {
        height: 35px;
        width: 80px;
        bottom: 25px;
        &:hover {
          height: 44px;
          width: 90px;
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .MessageLife {
    height: 311px;
    &__container {
      &__messageInWeek {
        &__containerContent {
          &__message {
            font-size: 14px;
            line-height: 22px;
            -webkit-line-clamp: 7; /* number of lines to show */
            height: 155px;
          }
        }
      }
      padding: 15px;
      &__inforCEO {
        margin-bottom: 20px;
        &__infor {
          &__nameCEO {
            font-size: 16px;
          }
          &__JobTiltle {
            font-size: 14px;
          }
        }
      }
      &__containerContent {
        padding: 15px;
        &__message {
          font-size: 18px;
          line-height: 23px;
          width: 100%;
          -webkit-line-clamp: 4;
        }
      }
      &__button {
        height: 40px;
        width: 80px;
        bottom: 25px;
        &:hover {
          height: 44px;
          width: 90px;
          font-size: 14px;
        }
      }
    }
  }


}
