
a{
    display: inline-block;
}


.part4 {
    font-family: 'Roboto', sans-serif;
    margin: 50px 0;
    background: #fff;
    &-menu{
        position: fixed;
        top: 30%;
        left: 0;
    }
    &-title{
        font-size: 36px;
        text-align: center;
        font-weight: 500;
        color: #dc143c;
    }
    &-intro{
        font-size: 20px;
    }
    &-hint{
        text-align: center;
        font-size: 17px;
    }
    &-section1{
        &__title{
            font-size: 30px;
            color: #87c52e;
            font-weight: 400;
        }
        &__question{
            color: #19a4f9;
            font-size: 24px;
        }
        &__table{
            border: 2px solid #eeeef2;
            width: 100%;
            font-weight: 500;
            & th,tr{
                border: 2px solid #eeeef2;
            }
            & th{
                padding: 14px 21px;
            }
            & tr:nth-child(1){
                background: #00baff;
                color: #fff;
                text-align: center;
                font-weight: 600;
            }
        }
        &__btn{
            background: #5bc0de;
            cursor: pointer;
            border: 1px solid #46b8da;
            color: #fff;
            padding: 6px 12px;
            font-size: 14px;
            display: block;
            margin-top: 30px;
            transition: 0.3s all ease-in-out;
            border-radius: 4px;
            &:hover{
                background: #2ca0c4;
            }
        }
    }
    &-section2{
        
        &__title{
            margin-top: 30px;
            @extend .part4-section1__title
        }
        &__question{
            @extend .part4-section1__question
        }
    }
}
