.container {
  width: 100%;
  padding: 20px 100px;
  background-color: #eaefec;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
      cursor: pointer;
      width: 270px;
      height: 60px;
      font-size: 20px;
      border-radius: 10px;
      text-align: center;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 600;
      transition: height 0.5s;
      &:hover {
        height: 70px;
      }
    }
  }
  &__content {
    width: 100%;
    background-color: white;
    margin-top: 30px;
    padding: 30px;
  }
}
